src/Simulator/AccessSimulator/Service References/AccessPointRegistryProxy/AccessPointRegistry2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/Vendor.API" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Vendor.API" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:9981/AccessPointRegistry?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="AccessPoint">
    <xs:sequence>
      <xs:element name="AccessPointId" type="ser:guid" />
      <xs:element name="Department" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element name="Name" nillable="true" type="xs:string" />
      <xs:element name="Site" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AccessPoint" nillable="true" type="tns:AccessPoint" />
</xs:schema>